*{
    font-fmaily: 'Pretendard-Regular';
}

body {
    font-family: 'Pretendard-Regular';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* react-toastify
  .Toastify__toast--success {
  }
  .Toastify__toast--error {
    background: #ac8be8;
  }
  .Toastify__toast--warning {
    background: #ac8be8;
  }
  .Toastify__toast--info {
    background: rgba(107, 115, 135, 0.8);
  } */