.pocket__container {
    position: relative;
    width: 438px;
    padding: 43px 43px 10px 20px;
    margin: 0px auto;
    border-radius: 5px;
    background-color: #FFFFFF;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px; -그림자효과 제거 */
  }