.pocket__container {
    position: relative;
    width: 90%;
    max-width: 430px;
    margin: 0px auto;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    background-color: #FFFFFF;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px; -그림자효과 제거 */
  }