//header
.header-bar {
  display: flex;
  height: 70px;
  width: 560px;
  background-color: rgb(255, 255, 255);
  padding-top: 18px;
  padding-left: 18px;
  padding-bottom: 18px;
  a {
         color: dark;
  }
}

//body
.body{
  width: 560px;
}

//footer
.bottom-bar {
  position: fixed;
  display: flex;
  bottom : 0px;
  height: 70px;
  width: 560px;
  background-color: rgba(249, 245, 255, 0.788);
  margin-top: 0px;
  align-items: center;
  // a {
  //     color: dark;

  //     &:hover {
  //         color: success;
  //     }
  // }
}

//footer 메뉴 아이콘
.footer-menu-left {
  color: black;
  text-decoration: none;
  padding: 32px;
  margin: 10px;
  align-items: center;
  text-align: center;
  font-family: 'Pretendard-Regular';
}

.footer-menu-right {
  color: black;
  text-decoration: none;
  padding: 3% 3% 3% 2%;
  margin: 10px;
  align-items: center;
  text-align: center;
}

.footer-add {
  width: 55px;
  color: black;
  text-decoration: none;
  margin: 10px 20px 75px 20px;
  align-items: center;
}

//메인페이지 아이콘
.main-menu{
  color:black;
  align-items: center;
  text-align: center;
  padding: 10% 0 0 10%;
  text-decoration: none;
  font-family: 'Pretendard-Regular';
}

//메인페이지 로그인
.main-login{
  color: black;
  text-decoration: none;
  margin-left: 385px;
  font-family: 'Pretendard-Regular';
  align-items: center;
  text-align: center;

}