/**************************************************************************** Header
Header 관련
*******************/

//header
.header-bar {
  display: flex;
  height: 70px;
  width: 560px;
  background-color: rgb(255, 255, 255);
  padding-top: 18px;
  padding-left: 25px;
  padding-bottom: 18px;
  a {
         color: dark;
  }
}

//로그인 하면 header에 나타나는 닉네임, 버튼
//header-nickname  --> 현록 사이즈 물어보기
.text-sj {
  display: flex;
  margin: 5px 0 0 20px;
  height: 70px;
  width: 300px;
}

.welcome-nick {
  display: flex;
  flex-direction: row;
}

#login-btn {
  position: fixed;
  margin-left: 350px;
}

// .main-login{
//   color: black;
//   text-decoration: none;
//   margin-left: 350px;  // nickname 로그인 이후 넣어야 되어서 사이즈 수정함  
//   margin-top: 4px;
//   font-family: 'Pretendard-Regular';
//   align-items: center;
//   text-align: center;
// }


/**************************************************************************** Body
Body 관련
*******************/

//body
.body{
  width: 560px;
  padding-bottom: 70px;
}


/**************************************************************************** BottomBar
BottomBar 관련
*******************/

//BottomBar
.bottom-bar {
  position: fixed;
  bottom: 0;
  display: flex;
  bottom : 0px;
  height: 70px;
  width: 560px;
  background-color: rgba(249, 245, 255, 0.788);
  margin-top: 0px;
  align-items: center;
}

//BottomBar 메뉴 아이콘
.footer-menu-left {
  color: black;
  text-decoration: none;
  padding: 32px;
  margin: 10px;
  align-items: center;
  text-align: center;
  font-family: 'Pretendard-Regular';
  display: flex;
  flex-direction: column;
}

.bottom-bar-hover:hover {
  border-radius: 10%;
  box-shadow: 1px 1px 16px 10px rgb(219, 204, 238);
}

.footer-menu-right {
  color: black;
  text-decoration: none;
  padding: 3% 3% 3% 2%;
  margin: 10px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer-add {
  width: 55px;
  color: black;
  text-decoration: none;
  margin: 10px 20px 75px 20px;
  align-items: center;
}

.footer-add:hover {
  border-radius: 100%;
  box-shadow: 1px 1px 16px 10px rgb(219, 204, 238);
}

//BottomBar 가운데 +버튼 
.add-link {
  display: flex;
  flex-direction: column;
}


/**************************************************************************** 메인 페이지
메인 페이지
*******************/

//메인페이지 아이콘
.main-menu{
  color:black;
  align-items: center;
  text-align: center;
  padding: 10% 0 0 10%;
  text-decoration: none;
  font-family: 'Pretendard-Regular';
}

//메인페이지 로그인
.main-login{
  color: black;
  text-decoration: none;
  margin-left: 350px;  // nickname 로그인 이후 넣어야 되어서 사이즈 수정함  
  margin-top: 4px;
  font-family: 'Pretendard-Regular';
  align-items: center;
  text-align: center;

}


/**************************************************************************** Modal
Modal 관련
*******************/

/* modal창 외부화면 */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/* modal창 */
.modalBody {
  position: absolute;
  z-index: 999;
  width: 300px;
  height: 400px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}
 
#modalCloseBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 15px;
}
 
#modalCloseBtn:hover {
  cursor: pointer;
}


/**************************************************************************** 일정추가 페이지
일정추가 페이지
*******************/

.add-content {
  padding-top: 35px;
  color: black;
  font-size: 15px;
  text-decoration: none;
  font-family: 'Pretendard-Regular';
}

//
.add-container {
  margin: 30px 0 30px 0;
}

//
.add-date{
  margin: 20px 0 30px 130px;
}

// 일정추가-제목-container
#schedule-add-form {
  background-color: #dfd6f5;
  border-radius: 20px 20px 0 0;
  font-family: 'Pretendard-Regular';
}

// 일정추가-일정시작,종료-container
#schedule-date{
  font-family: 'Pretendard-Regular';
  border-radius: 0 0 20px 20px;

}

// 캘린더 일정 추가하기 버튼
.Add-Schedule-btn {
  width: 180px;
  height: 55px;
  margin: 30px 0 0 80px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #8668e0;
  display: table-row;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard-Regular';
}
// Todo List 추가하기 버튼
.Add-TodoList-btn {
  width: 180px;
  height: 55px;
  margin: 30px 20px 0 40px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #8668e0;
  display: table-row;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard-Regular';
}


/**************************************************************************** TodoList 관련
TodoList 관련
*******************/

.trashBtn {
  position: absolute;
  margin-left: 340px;
}


/**************************************************************************** FullCalendar 관련
FullCalendar 관련
*******************/

.calendar-font-container{
  z-index: -1;
}

.my-fullcalendar {
  z-index: -1; /* 원하는 값으로 설정 */
}

.fc-today-button {
  background-color: #ff0000; /* 배경색 */
  color: #ffffff; /* 글자색 */
}