/* KakaoMaps 정보 제공 커스텀 css */

.map_wrap {
    position: absolute;
    left: 0;
    bottom: 45px;
    width: fit-content;
    height: 132px;
    margin-left: -150px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;
}

.map_wrap * {
    padding: 0;
    margin: 0;
}

.map_wrap .map_info {
    width: fit-content;
    height: 105px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
}

.map_wrap .map_info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

/* .map_info .map_title {
    width: initial;
    padding: 5px 50px 15px 10px;
    height: 30px;
    background: #cca5ff;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  } */


/*  카테고리에 따른 색변경 */

.map_info .map_weddinghall {
    width: initial;
    padding: 5px 50px 15px 10px;
    height: 30px;
    background: #cca5ff;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.map_info .map_studio {
    width: initial;
    padding: 5px 50px 15px 10px;
    height: 30px;
    background: #ffd18b;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.map_info .map_default {
    width: initial;
    padding: 5px 50px 15px 10px;
    height: 30px;
    background: #B0D2FF;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.map_info .map_close {
    position: absolute;
    top: 0px;
    right: 10px;
    bottom: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.map_info .map_close:hover {
    cursor: pointer;
}

.map_info .map_body {
    position: relative;
    overflow: hidden;
}

.map_info .map_desc {
    position: relative;
    height: 75px;
    width: 250px;
    margin: 0 25px 0 25px;
    padding: 10px 0 10px 0;
    text-align: center;
    align-items: center;
   
}

.map_desc .map_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.map_desc .map_jibun {
    font-size: 11px;
    color: #888;
    margin-top: -2px;
}

.map_info:after {
    content: '';
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: 0;
    width: 22px;
    height: 12px;
    /* background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png') */
}

.map_info .map_link {
    color: #5085BB;
}

.map_body div {
    width: fit-content;
}

#map_closeBtn {
    position: absolute;
    top: 5px;
    right: 15px;
    border: none;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    font-size: 15px;
}


.map_desc .consult_button {
    background-color: #a155e9;
    color: #fff;
    padding: 5px 10px;
    margin-top: -4px;
    border-radius: 40px;
}

.map_desc .wedding_button {
    background-color: #f7b95c;
    color: #fff;
    padding: 5px 10px;
    margin-top: -4px;
    border-radius: 40px;
}

.map_desc .button_container {
    display: flex;
    justify-content: space-between;
    width: 103%;
    
 }



/* 카카오 커스텀 원본 */
/* .customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
  .customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
  .customoverlay button {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #9F7FFC;background: #9F7FFC url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
  .customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
  .customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')} */

